.header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.underheader {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

.imageplacement {
    display: flex;

}

.container {
    background-color: #1f2937;
}
